<!DOCTYPE html>
<html>
  <head>
    <title>unit-2-assessment</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    
    <body>
      <h2>There are no To Dos yet! </h2>
      <div class="container">
    <form action ="/add/todo" method="POST">
           <input type="text" name="todo" placeholder="add new todo">        
           <button type="submit"> Add To Do </button>
   
  
    </form>
 
    
  </div>
  </body>
</html>
